<h1>Form Template Driven - Formulario basadis en plantillas</h1>
<p>Formulario de usuario basado en directivas y asíncronos. Menos escalable, pero más fácil de mantener.</p>
<form #templateDrivenForm="ngForm" (ngSubmit)="onSubmit(templateDrivenForm)">
 
    <label for="name">Nombre</label>
    <input type="text"  id="name" required [(ngModel)]="user.name" name="name">
  
  
    <label for="email">Email</label>
    <input type="email"  id="email" required [(ngModel)]="user.email" name="email">
 
  
    <label for="password">Contraseña</label>
    <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
  
    <input type="submit" class="btn btn-primary" value="Enviar">
 
</form>
